body {
    color: #d2d2d2;
}

html {
    background-color: #171717;
}

.input-fields {
    padding-left: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0d0d0d;
}

tbody {
    color: white;
}

th,
td {
    border: 1px solid #3a3a3a;
    padding: 8px 15px;
    color: inherit;
}

th {
    text-align: left;
}

.alt-scenario {
    background-color: #fff3cd;
    color: #333; /* Darker text for better contrast */
}

.inactive {
    opacity: 0.6;
}

.active {
    opacity: 1;
}

.add-column,
.add-column-header {
    /* background-color: white !important; */
    border: none !important;
}

.add-icon {
    width: 3vw;
    height: 3vw;
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.add-icon:hover {
    filter: invert(100%);
}

.add-icon:active {
    animation: click-animation 0.2s forwards;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spacing between buttons */
    width: 100%;
}

.goal-pill {
    display: inline-block;
    background-color: #e0f7fa;
    color: #006064;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* App.css */
.modal-content {
    background: white;
    color: black; /* Ensure text color is black */
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    color: black; /* Ensure label text is black */
}

.modal-content input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: white; /* Ensure input background is white */
    color: black; /* Ensure input text is black */
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-right: 10px;
}

.month-column {
    text-align: left;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.month-column .add-icon {
    margin-right: 9px;
    vertical-align: middle;
}

.new-goal-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1001; /* Ensure it's below the top-nav */
}

.new-goal-button {
    position: sticky;
    right: 35px;
    background-color: #04aa6d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.new-goal-button .add-icon {
    width: 20px;
    height: 20px;
}

.new-goal-button:hover {
    background-color: #039958;
}

.top-nav {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d0d0d;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.top-nav-left {
    display: flex;
    align-items: center;
}

.top-nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.welcome {
    font-size: 1.2rem;
    display: inline;
    flex-direction: column;
    gap: 4px;
}

.slothmap-container {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
