table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
